.App {
    text-align: center;
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    width: 60%;
    left: 0;
}

.right {
    width: 40%;
    right: 0;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    float: left;
    border-bottom: 2px solid black;
}

.header-item {
    display: inline-block;
    width: 200px;
    text-align: left;
}

.icon {
    height: 15px;
    width: 15px;
    padding: 5px;
}

.icon:hover {
    cursor: pointer;
}

.space {
    width: 30px;
    display: inline-block;
}

.input-container {
    width: 100%;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-label {
    float: left;
    width: 30%;
    text-align: left;
    padding-left: 50px;
}
.input-field {
    float: right;
    width: 40%;
    margin-right: 20%;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
